.progress-container {
  position: fixed;
  bottom: 55px;
  right: -9%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 7px 20px;
  z-index: 100000000;
  mix-blend-mode: difference;
  border: 1px dashed rgba(255, 255, 255, 0.144);
  border-radius: 50px;
}

.progress-text {
  font-size: 1em;
  letter-spacing: 3px;
  color: var(--bg);
  user-select: none;
  font-family: 'Rader';
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.progress-bar {
  flex: 1;
  height: 2px;
  background-color: var(--bg);
  will-change: transform;
  transform: scaleX(0%);
  transform-origin: left center;
  border-radius: 13px;
}

.progress-counter {
  font-size: .9em;
  color: var(--bg);
  font-family: 'Rader';
  user-select: none;
}

@media (max-width: 1000px) {
  .progress-container {
    bottom: 40px;
    right: -13%;
  }

  .progress-text {
    font-size: .8em;
    letter-spacing: 2px;
  }

  .progress-wrapper{
    width: 250px;
  }
  .progress-counter {
    font-size: .8em;
  }
}

@media (max-width: 768px) {
  .progress-container {
    bottom: 50px;
    right: -20%;
  }

  .progress-text {
    font-size: .75em;
    letter-spacing: 3px;
  }

  .progress-wrapper{
    width: 350px;
  }
  .progress-counter {
    font-size: .7em;
  }
}

@media (max-width: 550px) {
  .progress-container {
    bottom: 40px;
    right: -30%;
  }

  .progress-text {
    font-size: .55em;
    letter-spacing: 3px;
  }

  .progress-wrapper{
    width: 280px;
  }
  .progress-counter {
    font-size: .5em;
  }
  .progress-bar {
    height: 1px;
  }
}

